{{ form_start(form) }}
    <div class="input-field col s12 l12">
         {{ form_widget(form.username) }}
         {{ form_label(form.username, 'Créateur', {
            'label_attr': {'class': 'name'}
        }) }}
    </div>
    <div class="input-field col s12 l12">
         {{ form_widget(form.content) }}
         {{ form_label(form.content, 'Description', {
            'label_attr': {'class': 'description'}
        }) }}
    </div>
    <div class="input-field col s12 l6">
         {{ form_widget(form.goal) }}
          {{ form_label(form.goal, 'Goal', {
            'label_attr': {'class': 'goal'}
        }) }}
    </div>


    {% if cag_name is defined %}

                            <div class="input-field col s12 l8">
                                {{ form_widget(form.name, 
                                {'attr': {'value': cag_name}}) }}
                                {{ form_label(form.name) }}
                            </div>

                            {% else %}

                            <div class="input-field col s12 l8">
                                {{ form_widget(form.name) }}
                                {{ form_label(form.name) }}
                                <label for="title">Titre de votre campagne</label>
                            </div>

                            {% endif %}

        <div class="input-field col s12 l6">
         {{ form_widget(form.email) }}
          {{ form_label(form.email, 'Email', {
            'label_attr': {'class': 'email'}
        }) }}
    </div>
<input type="checkbox" name="accept-terms" value="1" id="accept-terms" required/>
        <label for="accept-terms">I have read and I accept the <a href="#!" target="_blank">Terms Of Use</a></label>
<button type="submit" class="btn btn-lg gradient secondary btn-block waves-effect waves-light mt-20 mb-20">{{ button_label|default('Create an account') }}</button>
{{ form_end(form) }}      
