{% extends 'base.html.twig' %}

{% block title %}Campaign{% endblock %}

{% block body %}
    <h1>Campaign</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ campaign.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ campaign.name }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ campaign.content }}</td>
            </tr>
            <tr>
                <th>Goal</th>
                <td>{{ campaign.goal }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ campaign.username }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ campaign.email }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('campaign_index') }}">back to list</a>

    <a href="{{ path('campaign_edit', {'id': campaign.id}) }}">edit</a>

    {{ include('campaign/_delete_form.html.twig') }}

        <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <h1 class="header center white-text light">{{ campaign.name }}</h1>
                <div class="row center">
                    <h5 class="header col s12 light">- Organisée par {{ campaign.username }} -</h5>
                </div>
            </div>
        </div>
        <div class="parallax"><img src="{{ asset('assets/images/8.jpg') }}" alt="Titre de la campagne"></div>
    </div>

    <!-- Show progress -->
    <section class="progress-section">
        <div class="progress"> 

                    {% set count = 0 %}
            
            {% set totalAmount = 0 %}

            {% for payement in payements %}

                {% set totalAmount = totalAmount + payement.montant %}
                
                {% set count = count + 1 %}

            {% endfor %}

                {% set porcentAmount = totalAmount * 100 / campaign.goal %}
            <div class="determinate" style="width: {{porcentAmount}}%"><span>{{porcentAmount|round}}%</span></div>
        </div>
    </section>

    <div class="container participe">
        <div class="section">
            <!-- Participation section -->
            <div class="row">
                <div class="card col s12 m12 l8 offset-l2">
                    <div class="card-content">

                        <form action ="{{ path ('payement_new', {'id':campaign.id}) }}" method="post">

                        <div class="input-field col s12 l6">
                            <input id="mount" type="number" class="validate" name="montant">
                            <label for="mount">Votre participation</label>
                        </div>

                        <button class="btn-large waves-effect waves-light pink lighten-1 col s12 l6" type="submit">Participer</button>
                        </form>
                        <div class="clearfix"></div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 center">
                    <h4>A propos de la campagne</h4>
                </div>
            </div>
            <!--   Icon Section   -->
            <div class="row">
                <div class="col s12 m6 l3 offset-l3">
                    <div class="icon-block center">
                        <div class="btn-large btn-floating white"><i class="material-icons teal-text">person</i></div>
                        <h3 class="center">{{count}}</h3>
                        <p class="light">Participants</p>
                    </div>
                </div>

                <div class="col s12 m6 l3">
                    <div class="icon-block center">
                        <div class="btn-large btn-floating white"><i class="material-icons teal-text">redeem</i></div>
                        <h3 class="center">{{totalAmount}}</h3>
                        <p class="light">euros récoltés</p>
                    </div>
                </div>
            </div>
            <!-- Form section -->
            <div class="row">
                <form>
                    <div class="input-field col s12">
                        <label for="description">Description</label>
                        <textarea id="description" class="materialize-textarea" readonly="readonly">{{ campaign.content }}</textarea>
                    </div>
                    <div class="input-field col s12 l6">
                        <input id="goal" type="number" readonly="readonly" value="{{ campaign.goal }}">
                        <label for="goal">Objectif</label>
                    </div>
                    <div class="col s12 l6 offset-l3">
                        <button class="btn btn-large waves-effect waves-light col s12" type="submit" name="action">
                            Modifiez la campagne
                            <i class="material-icons right">edit</i>
                        </button>
                    </div>
                </form>
            </div>
            <!-- List -->
            <div class="row">
                <div class="col s12 center">
                    <h4>Liste des participants</h4>
                </div>
                <div class="col s12">
<table class="highlight responsive-table">
                             <thead>
                        <tr>
                            <th>Email</th>
                            <th>Participation</th>
                        </tr>

                        </thead>

                        <tbody>
                        <tr>
                            <td>
                            {% for participant in participants %}

                                {% if participant.isAnonymous == 0 %}

                                    {{participant.mailParticipant}}

                                {% else %}

                                <span style='font-style:italic;'>Participant masqué</span>

                            {% endif %}

                            <br>
                            
                            {% endfor %}

                            </td>


                            <td>

                            {% for payement in payements %}

                            {{payement.montant}} €

                            <br>

                            {% endfor %}

                            </td>

                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="row center">
                    <h4 class="header col s12 light">Une campagne pensée pour vous<br>et pour toutes les occasions</h4>
                </div>
            </div>
        </div>
        <div class="parallax"><img src="{{ asset('assets/images/10.jpg') }}" alt="Une campagne pensée pour vous"></div>
    </div>
{% endblock %}

